<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home </title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{>navbar}}
  <div class="containers mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
            <h1>WE WILL HELP YOU to</h1>
            <h1>GROW YOUR BISUNESS</h1>
            <P>WE Are Team Of <span class="bold-style"> ProFessionsl Developer ✌️</span> </P>
            <button class="btn-style btn-primary read1" id="read1"><a href="#read1"></a> Read more</button>
            <p id="readmore1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi nobis rem
              dolorum molestiae!
              Dolorem, ducimus rem? Sed labore nulla, harum perspiciatis quam fugiat doloribus nisi consequuntur ullam
              quas neque.</p>
          </div>
          <div
            class="col-md-6 col-12 mx-auto order-md-1 order-0 d-flex justify-content-center flex-column text-align-start">
            <figure>
              <img class="img-fluid " src="images/slide1.png" alt="Network Problem">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 mx-auto order-md-1 order-0 hero-text d-flex justify-content-center flex-column text-align-start">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BISUNESS</h1>
            <P>Welocome To Saurabh Technical That Grow Your <span class="bold-style"> ProFessionsl Developer ✌️</span>
            </P>
            <button class="btn-style btn-primary read2" id="read2"> <a href="#read2"></a> Read more</button>
            <p id="readmore2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi nobis rem
              dolorum molestiae!
              Dolorem, ducimus rem? Sed labore nulla, harum perspiciatis quam fugiat doloribus nisi consequuntur ullam
              quas neque.</p>
          </div>
          <div
            class="col-md-6 col-12 mx-auto order-md-0 order-1 d-flex justify-content-center flex-column text-align-start">
            <figure>
              <img class="img-fluid " src="images/slide3.png" alt="Network Problem">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>about}}
  {{>services}}
  {{>gallary}}
  {{>contact}}
  {{>footer}}
  <script>
    let read3 =document.getElementById("readmore1");
   let read4= document.getElementById("readmore2");
    
    document.getElementById("read1").addEventListener("mouseover", ()=> {
      console.log("click ocur");
      read3.addclassList = read3;
      read3.style.display = "block";
    })
    document.getElementById("read1").addEventListener("mouseout", ()=> {
     
      
      read3.style.display = "none";
    })
    document.getElementById("read2").addEventListener("mouseover", () => {
      console.log("click ocur");
      read4.addclassList = read4;
      read4.style.display = "block";
    })
    document.getElementById("read2").addEventListener("mouseout", () => {
     
      
      read4.style.display = "none";
    })
  </script>
  <script src="./jq/jquery.js" type="text/javascript"></script>
  <script src="./js/bootstrap.js" type="text/javascript"></script>
</body>

</html>