<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home </title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{>navbar}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
            <h1>WE WILL HELP YOU YO</h1>
            <h1>GROW YOUR BISUNES</h1>
            <P>WE Are Team Of <span class="bold-style"> ProFessionsl Developer ✌️</span> </P>
            <button class="btn-style btn-primary"> Read more</button>
          </div>
          <div class="col-md-6 col-12 mx-auto order-md-1 order-0 d-flex justify-content-center flex-column text-align-start">
            <figure>
              <img class="img-fluid " src="images/slide1.png" alt="Network Problem">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 mx-auto order-md-1 order-0 hero-text d-flex justify-content-center flex-column text-align-start">
            <h1>WE WILL HELP YOU To</h1>
            <h1>GROW YOUR BISUNES</h1>
            <P>Welocome To Saurabh Technical That Grow Your <span class="bold-style"> ProFessionsl Developer ✌️</span> </P>
            <button class="btn-style btn-primary"> Read more</button>
          </div>
          <div class="col-md-6 col-12 mx-auto order-md-0 order-1 d-flex justify-content-center flex-column text-align-start">
            <figure>
              <img class="img-fluid " src="images/slide3.png" alt="Network Problem">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>about}}
  
  {{>contact}}
  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>