<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid  " id="about">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto d-flex justify-content-center text-align-center">
                <div class="row">
                    <div class="col-md-4 col-12 mx-auto  about-style d-flex justify-content-center  text-align-center">
                        <div class="main-heading">
                            <h1>About</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-12 mx-auto d-flex justify-content-center flex-column text-align-center">
                <div class="row">

                    <div
                        class="col-md-6 col-12 mx-auto    d-flex justify-content-center flex-column text-align-center">
                        <div class="sub-heading">

                            <h1 class="text-center"> This is Saurabh Intro</h1>
                            <h1>
                                <hr>
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class=" row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class=" row ">


                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid   " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid   " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid   " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                </div>
            </div>

        </div>
        <div class=" row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class=" row ">


                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                </div>
            </div>

        </div>
        <div class=" row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class=" row ">


                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid  " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid  " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                    <div class="col-md-4 col-12 mx-auto  d-flex justify-content-center flex-column text-align-start">
                        <figure>
                            <img class="img-fluid  " src="images/slide3.png" alt="Network Problem">
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>