<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid" >

        <div class="row">
            <div class="col-md-10 col-12 mx-auto d-flex justify-content-center text-align-center">
                <div class="row">
                    <div class="col-md-4 col-12 mx-auto  about-style d-flex justify-content-center  text-align-center">
                        <div class="main-heading" id="about1">
                            <h1 id="about">About</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-12 mx-auto d-flex justify-content-center flex-column text-align-center">
                <div class="row">

                    <div class="col-md-6 col-12 mx-auto    d-flex justify-content-center flex-column text-align-center">
                        <div class="sub-heading">

                            <h1 class="text-center"> This is Saurabh Intro</h1>
                            <h1>
                                <hr>
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <p class="aboutpara" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quisquam delectus assumenda reiciendis sapiente
            facilis maiores? Aliquam eveniet aut sed temporibus eos et? Ipsam ratione id quam, neque quae tempore.
            Eaque quam, aut praesentium doloremque fuga, sunt repellat omnis placeat mollitia excepturi laudantium ea
            eligendi totam assumenda! Eos quas voluptas impedit fugiat, maxime quo ex assumenda. Modi quam sapiente
            alias.
            Pariatur voluptatum sunt eius facilis mollitia aliquam, quod quae! Ratione aspernatur voluptas ullam facere
            tempore, doloremque, magni, similique soluta sequi eum quas sint quam cum dolor. A exercitationem accusamus
            magnam.
            Sapiente eveniet atque nisi repudiandae quidem exercitationem tenetur voluptate at quaerat rem dolor
            obcaecati, aliquam nam odit culpa vitae! Ducimus consequuntur neque ipsum sed impedit aut reprehenderit
            aspernatur eum. Tenetur.
            Unde exercitationem pariatur voluptatem consectetur ipsam facere itaque aliquid amet, ipsa reiciendis, iste
            officia nesciunt iure accusamus obcaecati ea? Esse dolorum dicta vitae itaque, fuga aliquam mollitia non
            vero neque.
            Aliquam quod deleniti recusandae quidem vitae odio dolorum explicabo quaerat aperiam? Quo incidunt porro
            expedita veniam alias ducimus debitis itaque ex quos dolorum placeat nam repellendus, provident fugit
            laboriosam officiis.
            Perspiciatis cum molestias, ratione deserunt temporibus enim quam distinctio eum aut quia mollitia?
            Recusandae quaerat neque velit nemo quisquam, vitae mollitia eius fugiat dolores nam, facilis rem quo
            officiis provident!
            Sed non, explicabo adipisci, consectetur officiis voluptatum amet, repudiandae ipsa suscipit omnis quas
            cupiditate quam minus molestiae itaque. Perspiciatis adipisci doloremque obcaecati nemo iusto quaerat odit.
            Dignissimos voluptate illo reiciendis?
            Dicta fuga, commodi laudantium ab voluptates rerum, repudiandae doloribus sequi culpa itaque qui aliquam,
            distinctio blanditiis deserunt? Nobis quos consequuntur minus officiis id veniam ex, sequi, doloremque
            adipisci, consectetur architecto.
            Molestiae molestias aliquid voluptates illum pariatur? Aut eaque laboriosam molestias doloribus quasi
            magnam, pariatur distinctio impedit illum inventore, quos perspiciatis delectus natus error incidunt sed ex
            deserunt consectetur, soluta unde!
            Id praesentium unde tempora harum totam ab. Iusto porro non nulla consequatur. Quam, fugit repellendus!
            Asperiores mollitia minima soluta, qui cum cumque quasi dolore iusto debitis vel obcaecati laudantium.
            Dolorum.
            Libero perferendis quae enim placeat, ex impedit voluptatem rem soluta architecto eaque explicabo dolorum ea
            dolores, numquam repellat, sed molestiae! Saepe optio maxime, neque repellendus architecto recusandae quas
            et laboriosam?
            Exercitationem vel beatae libero pariatur asperiores. Vitae tempore beatae eos alias, expedita repellendus.
            Iste, maiores? Quis voluptate aliquam laboriosam, voluptatum corporis ullam dolorum ratione dolorem magni
            eius deleniti laudantium veniam?
            Ratione alias dolorum aliquid impedit quae esse quidem libero vel! Provident aperiam vitae eum rem impedit
            corrupti blanditiis dicta veniam non, nihil odio harum dolorum. Deleniti excepturi fugiat autem deserunt?
            Voluptas harum recusandae dolorem? Explicabo dolore nihil delectus est? Nihil saepe totam sunt mollitia
            voluptate. Numquam minus aspernatur harum facilis recusandae, ullam dignissimos repellendus, ipsum et omnis
            laborum saepe quis.</p>


    </div>
    </div>
</body>

</html>