<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container-fluid mt-5 ">
        <form action="/contact" method="post" >
            <center>
                <h1 id="contactus">contact us</h1>
                
            </center>
                   
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <input type="text" name="fname" placeholder="Enter your first name">
                        </div>
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <input type="text" name="flast" placeholder="Enter your last name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <input type="email" name="email" placeholder="Enter your email">
                        </div>
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <input type="text" name="password" placeholder="Enter your password">
                        </div> 
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <input type="phone" name="phone" placeholder="Enter your phone no">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <label for="gender">

                                <input type="radio" name="gender" value="male" placeholder="male">
                                <label for="gender">male</label>
                                <input type="radio" name="gender" value="femail" placeholder="femail">
                                <label for="gender">female</label>
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row mb-5">
                        <div
                            class="col-md-6 col-12 mx-auto order-md-0 order-1 hero-text d-flex justify-content-center flex-column text-align-start">
                            <button class="btn-style btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>

</html>