<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="containers navbar ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" id="logo" href="#">Saurabh Menu</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto navbar-style">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="about" href="#about1">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="service" href="#services">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id=">gallary" href="#gallary">Gallary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact" href="#contactus">ContactUs</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>